<div class="panel panel-default repo">
  <div class="panel-heading">
    <a href="<%= repo.github_html_url %>" target="_blank">
      <h3 class="panel-title">
        <%= repo.name %> (<%= repo.full_name %>)
      </h3>
    </a>
  </div>
  <div class="panel-body">
    <%= raw "<p>#{emojify(repo.github_description)}</p>" if repo.github_description.present? %>
    <p>
      <%= raw "<span class='label label-primary'>#{repo.github_programming_language}</span>" if repo.github_programming_language.present? %>
      <%= repo_counters repo %>
    </p>
    <%= raw "<p>#{emojify(repo.necessity)}</p>" if repo.necessity.present? %>
    <p class="pull-right"><%= user_resume repo.user %></p>
  </div>
</div>
