<%= form_for(@repo) do |f| %>
  <%= f.hidden_field :github_id %>

  <% if @repo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repo.errors.count, "error") %> prohibited this repo from being saved:</h2>

      <ul>
      <% @repo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= @github_repo.name %> (<%= @github_repo.full_name %>)</h3>
  <p><%= @github_repo.homepage if @github_repo.homepage.present? %></p>
  <p><%= @github_repo.ssh_url if @github_repo.ssh_url.present? %></p>

  <p><%= @github_repo.html_url if @github_repo.html_url.present? %></p>

  <p><%= raw @github_repo.description if @github_repo.description.present? %></p>

  <p>Main language:
    <%= f.select(:github_language,
        options_for_select(@languages.collect{ |b| [b[0], b[0]] }),
         class: "form-control") %>
  </p>

  <p>Main idiom (issues, commits):
    <%= f.select(:idiom,
        options_for_select(@common_idioms.collect{ |b| [b.name, b.iso_639_1] }, "en"),
        class: "form-control") %>
  </p>

  <div class="actions">
    <%= f.submit "Ask for help", class: "btn btn-primary" %>
  </div>
<% end %>
