<%= form_for(@repo) do |f| %>
  <%= f.hidden_field :github_id %>

  <% if @repo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repo.errors.count, "error") %> prohibited this repo from being saved:</h2>

      <ul>
      <% @repo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= @github_repo.name %> (<%= @github_repo.full_name %>)</h3>
  <p><%= @github_repo.homepage if @github_repo.homepage.present? %></p>
  <p><%= @github_repo.ssh_url if @github_repo.ssh_url.present? %></p>

  <p><%= @github_repo.html_url if @github_repo.html_url.present? %></p>

  <p><%= raw @github_repo.description if @github_repo.description.present? %></p>

  <p><%= @github_repo.language if @github_repo.language.present? %></p>

  <p><%= "#{@github_repo.open_issues} issues" if @github_repo.open_issues.present? %></p>
  <p><%= "#{@github_repo.forks} forks"  if @github_repo.forks.present? %></p>
  <p><%= "#{@github_repo.stargazers_count} stars"  if @github_repo.stargazers_count.present? %></p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
