<div class="row">
  <div class="col-sm-8">
    <h2 class="">Projects that need your help</h2>

    <div class="row">
      <div class="col-sm-4">
        <h3>Filters</h3>

        <ul>
          <li>
            <label>Programming Language: </label><%= select_tag(:programming_language,
              options_for_select(@programming_languages, params["programming_language"]),
              include_blank: "Any",
              class: "filter-repos form-control") %>
          </li>
          <li>
            <label>Language: </label><%= select_tag(:language,
              options_for_select(@languages.collect{ |b| [b.upcase, b] }, params["language"]),
              include_blank: "Any",
              class: "filter-repos form-control") %>
          </li>
          <li>By project stars range </li>
          <li>By forks number range</li>
        </ul>
      </div>
      <div class="col-sm-8">
        <h3>Projects</h3>
        <ul class="repos">
          <% @repos.each do |repo| %>
            <li>
              <a href="<%= repo_path repo %>">
                <%= repo.name %> (<%= repo.full_name %>)
              </a>
              <%= raw "<span class='label label-primary'>#{repo.github_programming_language}</span>" if repo.github_programming_language.present? %>
              <%= repo_counters repo %>
              <%= raw "<p>#{emojify(repo.github_description)}</p>" if repo.github_description.present? %>
            </li>
          <% end %>
        </ul>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <h2>Needs some help?</h2>
    <h3><%= current_user.nickname %> repos</h3>

    <ul>
      <% @user_repos.each do |repo| %>
        <li><a href="<%= new_repo_path repo.id %>"><%= repo.full_name %></a></li>
      <% end %>
    </ul>
  </div>
</div>
