<!DOCTYPE html>
<html>
<head>
  <title>Open Help</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <a href="<%= root_path %>" id="logo" class="">Open Help</a>
      </div>
      <div class="col-sm-9 text-right">
        <% if user_signed_in? %>
          <img src="<%= current_user.image %>" class="" height="50">
          <%= link_to('Logout', destroy_user_session_path, :method => :get, class: "") %>
        <% end %>

      </div>
    </div>

    <%= yield %>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76409208-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
